// Specific CSS for your home-page
h1{
  color: rgb(239, 111, 19);
  text-align: center;
  font-size: 150px;
  -webkit-text-stroke: 1px black;
  padding-top: 60px;
}

h4{
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

.options{
  text-align: center;
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.carousel-item{
  align-items: center;
}
