h5 {
  text-align: center;
}

.detail {
  font-size: 16px;
}

span.grey {
  color: rgb(84, 84, 84);
  font-size: 16px;
}

.card-edit {
  margin: 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 60px;
  font-size: 17px;
}
