.login{
  margin: 120px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 16px;
  color: rgb(231, 117, 11);
  font-size: 21px;
}

.sharedlinks{
  margin-top: 20px;
}

.buttonlogin{
  font-size: 30px;
}
