<div class="container">
  <div class="row mt-3 mb-4">
    <div class="col">
      <% @users.each do |user| %>
        <p><%= link_to user.nickname, user_path(user), class: "btn btn-primary" %><p>
      <% end %>
    </div>
  </div>
</div>
