<div class="footer">
  <div class="row mt-3 mb-4">
    <div class="col-6 mt-3">
      <div class="footer-links m-2">
        Follow us here!
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="footer-discover m-2">
        <a href="#"><p>Discover</p></a>
        <a href="#"><p>Look for work</p></a>
        <a href="#"><p>Services by City</p></a>
        <a href="#"><p>All Services</p></a>
        <a href="#"><p>Help</p></a>
      </div>
    </div>
    <div class="col-2 mt-3">
      <div class="footer-copyright m-2">
        This website was made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </div>
</div>
