<div class="footer">


    <div class="col-3">
      <div class="footer-discover">
        <a href="#"><strong><p style="padding-bottom: 5px; margin: 0px; font-size: 16px";>Help and Information</p></strong></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Help</p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Look for work</p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Services by City</p></a>
        <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Account Setup</p></a>
      </div>
    </div>

      <div class="col-3">
        <div class="footer-about">
          <a href="#"><strong><p style="padding-bottom: 5px; margin: 0px; font-size: 16px";>About Jobby</p></strong></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>About Us</p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Careers at Jobby</p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Our Offices</p></a>
          <a href="#"><p style="padding: 0px; margin: 0px; font-size: 14px";>Blog</p></a>
        </div>
      </div>

      <div class="col-6">
        <div class="footer-links">
          <strong><p style="padding-bottom: 5px; margin: 0px; font-size: 16px";>Follow us</p></strong>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

</div>
