<div class="container mt-3 mb-3">

  <h1>Jobby</h1>
  <h4>Your temporary job search platform</h4>
  <div class = "options">
    <div class = "option1">
    <%= link_to "Publish a job here", new_job_path, class: "btn btn-success" %>
    </div>
    <div class = "option2">
    <%= link_to "Look for a job here", jobs_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

