
.custom-width {
  width: 23%; /* Ajusta este valor según el ancho que prefieras */

}
.custom-width-he{
  width: 23%; /* Ajusta este valor según el ancho que prefieras */
  height: 29.5px;

}
.custom-width-hed{
  width: 23%; /* Ajusta este valor según el ancho que prefieras */
  height: 30px;

}
.pt-negative-4 {
  padding-top: -10px;
}

.custom-hei{
  width: 100%;
  height: 40px;
}
