.opaco {
  opacity: .9; /* Cambia el valor de opacidad según tus necesidades */
}
.carousel-caption {
  background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
  text-align: center; /* Centra el texto */
  padding: 10px; /* Añade espacio alrededor del texto */
}

.carousel-caption h5 {
  font-size: 2rem; /* Aumenta el tamaño del título */
  margin-bottom: 10px; /* Añade espacio debajo del título */
}

.carousel-caption p {
  font-size: 1.5rem; /* Aumenta el tamaño del texto */
  margin-bottom: 0; /* Elimina el espacio debajo del texto */
  color: white; /* Cambia el color del texto a blanco */
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000; /* Cambia el valor del color según tus necesidades */
}
.custom-link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.custom-link:hover{
  color: rgb(254, 124, 2)
}
