.navbar-lewagon {
  justify-content: space-between;
  background: rgb(231, 117, 11);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  bottom: 10;
  width: 100%;
  /* Otros estilos */
}

.nav-link:hover {
  background-color: rgb(218, 111, 11);
  color: white;
  text-decoration: none;
}

.margintop{
  margin-top: 80px;
}

.globe{
  padding-right: 10px;
}

.mte{
  margin-top: 7px;
}
.searchnav{
  width: 600px;
  margin-top: 12px;

}

.dropdown-item:hover {
  text-decoration: none;
}
