
.fa-starer, .star-rating {
width: 20px;
height: 20px;
font-size: 20px;
color: rgb(255, 187, 0);
}
.star-rating-e {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: rgb(255, 187, 0);
  }
  .fa-starer,.star-rating-e:hover{
  color: rgb(242, 177, 14);
  transition: .2s;
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  // top: 0px;
  line-height: 26px;
}
